<!--title="" per text quan passem per sobre-->
<style>
    div.circulos div{
        display: inline-dblock;
        border-radius: 50px
        height:50px 
        width
        text-align: center;
    }
</style>
<span> class="caja"</span>

span.caja:hover img.invisible{
    visibility: visible;
}

<div class="circulos">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>